#parse("/velocity/layout.vm")
#@mainLayout()

<h1 class = "defaultHeading">Welcome to the Internet Movie Database</h1>
<h2 class = "defaultHeading">Search IMDb</h2>

<hr>

<form class = "form" method="post">

    <label>Search for Show/Movie by Title</label>
    <input type="text" name="showTitleSearch" placeholder="Show/Movie Title" value="" required>
    <input type="submit" value="Search">
</form>

<hr>

<form class = "form" method="post">
    <label>Search for Actor</label>
    <input type="text" name="personSearch" placeholder="Actor Name" value="" required>
    <input type="submit" value="Search">
</form>

<form class = "form" method="post">
    <label>Search User by Name</label>
    <input type="text" name="userSearch" placeholder="Name" value="" required>
    <input type="submit" value="Search">
</form>

<hr>
#end