#parse("/velocity/layout.vm")
#@mainLayout()
	#if($cantSubmit && $currentUser)
		<html>
            <head>
                <style>
                    p {
                        margin: 5px;
                    }
                    #acc_type{
                        width: 60px;
                    }
                    #submitButton {
                        width: auto;
                        position: absolute;
                    }
                </style>
            </head>
        <body>
            <h1> Sorry. youve already submitted a request </h1>
        </body>
        </html>
    #elseif($currentUser)
        <html>
            <head>
                <style>
                    p {
                        margin: 5px;
                    }
                    #acc_type{
                        width: 60px;
                    }
                    #submitButton {
                        width: auto;
                        position: absolute;
                    }
                </style>
            </head>
        <body>
            <form id="accRequestForm" method="post">
                <h3>Request form for Production Company or Administrative Account</h3>
                <label>Which account type are you applying for?</label>

                <select id="acc_type" name="accountType">
                    <option value="critic" selected>Critic</option>
                    <option value="pco">Production Company (PCo)</option>
                </select><br>

                <label>Please enter below why you are making this request.</label>
                <textarea name="reason" cols="50" rows="10" required></textarea><br>

                <input id="submitButton" type="submit" value="Submit Application">
            </form>
        </body>
        </html>
    #else
    <h1 class = "defaultHeading">ERROR - Sorry, you need to be logged in to access this page.</h1>
    <label> Dont have an account? Click <a href="/signup" > Create Account</a></label>
    #end
#end
